<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cw17</title>

</head>
<body>
<form action="http://127.0.0.1:8000/cw17/count/" method="POST">
    <lable for name> name </lable><input type="text" name="name"><br>
    <input type="text" name="secondname"><br>

    <input type="text" name="coment">
    <input type="submit" name="submit">
</form>
<form action="http://127.0.0.1:8000/cw17/textarea/" method="POST">
    <lable for name> name </lable><input type="text" name="name"><br>
    <input type="text" name="secondname"><br>

    <textarea name="text"></textarea>
    <input type="submit" name="submit2">
</form>
</body>
</html>